<% title "Add question to #{@quiz.title}" %>

<h3>Add question to <%= @quiz.title %></h3>

  <% form_for :question, @question, :url => {:action => :create} do |f| %>
  <div id="question_form"><%= render :partial => "list_form", :locals => { :f => f } %>
</div>
<!--
<%= button_to_function "Add Answer", :id => "add_answer" do |page|
  @question.answers.build;
  page.replace_html :question_form, :partial => "list_form", :locals => { :f => f }
end %>
--!>

<%= submit_tag "Add Question" %>
<%= submit_tag "Publish Quiz"%>
<% end %>
<br />
