<% title "Add question to #{@quiz.title}" %>

<h3>Add question to <%= @quiz.title %></h3>
<% form_for :question, @question, :url => {:action => :create} do |f| %>
<%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :text, "Question: "%></td>
    <td><%= f.text_field :text %></td>
    <%= f.hidden_field(:quiz_id, :value => @quiz.id) %>
  </tr>
  <% f.fields_for :answers do |answer_fields| %>
    <tr>
      <td>Answer: </td>
      <td><%= answer_fields.text_field :text %></td>
      <td>Right? </td>
      <td><%= answer_fields.check_box :right %></td>
    </tr>
  <% end %>
<% end %>
</table>
<%= submit_tag "Add Question" %>
<%= submit_tag "Publish Quiz"%>
<br />
