<% title "New quiz" %>

<div class="one_col">
  <h3>Make a new quiz</h3>
  <% form_for :quiz, @quiz, :url=>{:action=>:create} do |f| %>
  <%= f.error_messages %>
  <table>
    <br />
      <%= f.label :title, "Quiz Title: "%>
      <%= f.text_field :title %>

    <br />
      <%= f.label :description, "Description: "%><br />
      <%= f.text_area :description, :size => "50x6" %>

    <br />
      <%= f.label :category, "Category: " %>
      <%= f.collection_select :category_id, Category.all, :id, :title %>

    <br />
      <%= f.label :type, "Quiz Type: " %>
      <%= select nil, :kind, Quiz.types %>
    <br />
       Tags:
      <%= text_field_tag :tags, nil, :size => 55, :placeholder => "Seperate with commas i.e.: tag1, tag2, tag3" %>
    <br />
    <%= "Featured? " + f.check_box(:featured) if user_is_admin? %>

    <% end %>
  </table>
  <%= submit_tag("Create Quiz") %>
  <br />
</div>