<% title "New group" %>

<h3>Make a new group</h3>
<% form_for :group, @group, :url=>{:action=>:create} do |f| %>
<%= f.error_messages %>
  <%= f.label :name, "Name: "%>
  <%= f.text_field :name %><br \>
  <%= f.hidden_field :admin_id, :value => current_user.id %>
  <%= submit_tag "Make group" %>
<% end %>

