<% title "Profile: #{@user}" %>

<div class="one_col">
  
  <h3><%= @user %></h3>
  <p><% if @user == current_user %>
    <%= link_to "Edit profile <br />", edit_user_path(@user) %>
  <% end  %>
    <b>Bio: </b><%= @user.bio unless @user.bio.blank? %><br />
    <b>Location: </b><%= @user.location unless @user.location.blank? %><br />
  </p>
  <h4>Quizzes Taken: </h4>

  <p><% @taken.each do |qe| %>
    <%= time_ago qe.created_at %>: <%= link_to qe.quiz.title, take_quiz_path(qe.quiz) %><b><%= "   " + qe.correct.to_s + " / " + qe.possible.to_s %></b><br />
  <% end %></p>

  <h4>Quizzes Created: </h4>
  <p><% @created.each do |quiz| %>
    <%= time_ago quiz.created_at %>:  <%= link_to quiz, take_quiz_path(quiz) %><br />
  <% end %>
  </p><br />
</div>