<% title "Profile: #{@user.username}" %>

<h3><%= @user.username %></h3>
<b><%= @user.full_name %></b><br />
<small><%= @user.bio unless @user.bio.blank? %></small>
<h4>Quizzes Taken: </h4>
<% @quiz_entries.each do |qe| %>
  <%= qe.quiz.title %><%= "   " + qe.correct.to_s + " / " + qe.possible.to_s %><br />
<% end %>
<br />
