<% title "Admin panel" %>
<h3>Admin panel</h3>

<h4>Quizzes</h4>
<table border="1">
<tr>
  <td>ID</td>
  <td>Title</td>
  <td>Category</td>
  <td>delete</td>
  <td>Featured</td>
</tr>
<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.id %></td>
    <td><%= quiz.title %></td>
    <td><%= quiz.category.title unless quiz.category_id.nil? %></td>
    <td><%= link_to "delete", quiz_path(quiz), :method => :delete %></td>
    <td><%= quiz.featured %> | <%= link_to "X", :controller => "Quizzes", :action => "feature", :id => quiz.id %></td>
  </tr>
<% end %>
</table>

<h4>Users</h4>
<table border="1">
<tr>
  <td>ID</td>
  <td>Username</td>
  <td>Real name</td>
  <td>Quizzes taken</td>
  <td>Quizzes made</td>
</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= "#{user.last_name}, #{user.first_name}" %></td>
    <td><%= user.quiz_entries.length %></td>
    <td><%= user.created_quizzes.length %></td>
    <td><%= link_to "delete", user_path(user), :method => :delete %></td>
<% end %>
</table>

<h4>Groups</h4>
<table border="1">
<tr>
  <td>ID</td>
  <td>Name</td>
  <td>Users</td>
  <td>Admin</td>
  <td>Delete</td>
</tr>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.name %></td>
    <td><%= group.users.length %></td>
    <td><%= group.admin.username %></td>
    <td><%= link_to "delete", group_path(group), :method => :delete %></td>
  <tr>
<% end %>
</table>

<h4>Add category</h4>
<% form_for :category, @category, :url => {:controller => "categories", :action=> "create"} do |f| %>
  <%= f.label :title, "Title: "%>
  <%= f.text_field :title %><br />
  <%= f.label :parent, "Parent category: " %>
  <%= f.collection_select :parent_id, Category.all, :id, :title, :include_blank => "N/A" %><br />
  <%= submit_tag "Add category" %>
<% end %>
<h4>Stats</h4>
# of quizzes: <%= @quizzes.length %><br />
# of users: <%= @users.length %><br />
# of groups: <%= @groups.length %><br />
# of quizzes taken: <%= @quiz_entries.length %><br />
<br />
