<% title "#{@quiz.title}" %>
<div class="right">
<h3><%= @quiz.title %></h3>
<% form_for :quiz_entry, @quiz_entry, :url => {:action => :create} do |f| %>
<%%>
<%= f.error_messages %>
  <% @quiz.questions.each do |question| %>
    <b><%= question.text %></b>
      <%= text_field_tag "answers[#{question.id}]" %>
    <br />
    <% end %>
  <%= f.hidden_field :quiz_id, :value => @quiz.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<%= submit_tag "Submit quiz" %>
<% end %>
<br />
<p><%= link_to "Report problem with quiz", new_report_path(:id => @quiz.id) %></p>
</div>
<%= render :partial=>"common/quiz_info", :locals => {:quiz => @quiz} %>
