<% title "#{@quiz.title}" %>

<div class="right">
<h3><%= @quiz.title %></h3>
<h4>Score: <%= @quiz_entry.correct %> / <%= @quiz_entry.possible %><br />
  Percentile: <%= @quiz_entry.percentile %></h4>
<p><i>Showing summary, login to view full results.</i>
</p>
<h4>Comments:</h4>
<div id="no_comments">
<%= "<p>Be the first to comment</p>" if @quiz.comments.empty? %>
</div>
  <div class="comments" ><ul id="bottom_comments">
  <%= render :partial => "common/comment", :collection => @quiz.comments %>
  </ul></div>

<% form_remote_for :comment, :url => {:controller => "comments", :action=>:create}, :html => {:id => "comment_form"} do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :comment, :quiz_id, :value => @quiz.id %>
  <%= f.text_area :text, :size => "50x4", :onkeyup => "validate_comment()" %><br />
  <%= f.submit "Add comment" %>
  <div id="comment_warning"></div><br />
<% end %>
<br /></div>
<%= render :partial=>"common/quiz_info", :locals => { :quiz => @quiz } %>
