<% title "#{@quiz.title}" %>

<div class="right">
<h2><%= @quiz.title %></h2><p>
<% @quiz.questions.each do |question| %>
  <b><%= question.text %></b><br />
  <% question.answers.each do |answer| %>
    <% if @quiz_entry.answers.include?(answer) %>
      <%=  image_tag("tick.png", :class => "quiz_entry") %>
    <% elsif @quiz.type != "MultipleChoice" or question.right_ans == answer %>
      <%= image_tag("cross.png", :class => "quiz_entry") %>
    <% end %>
    <%= answer.text %><br />
  <% end %>
    <br />
<% end %></p>
<h4>Score: <%= @quiz_entry.correct %> / <%= @quiz_entry.possible %><br />
Percentile: <%= @quiz_entry.percentile %></h4>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div><p>
   <a href="http://twitter.com/share" class="twitter-share-button"
      data-url=<%= %!"www.quizir.com#{take_quiz_path(@quiz)}"! %>
      data-via="quizir"
      data-text=<%= @quiz_entry.to_tweet %>
      data-count="none">Tweet</a>
</p></div>
<h4>Comments:</h4>
<div id="no_comments">
<%= "<p>Be the first to comment</p>" if @quiz.comments.empty? %>
</div>
  <div class="comments" ><ul id="bottom_comments">
  <%= render :partial => "common/comment", :collection => @quiz.comments(:order => "created_at") %>
  </ul></div>

<% form_remote_for :comment, :url => {:controller => "comments", :action=>:create}, :html => {:id => "comment_form"} do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :comment, :quiz_id, :value => @quiz.id %>
  <%= f.text_area :text, :size => "50x4", :onkeyup => "validate_comment()" %><br />
  <%= f.submit "Add comment" %>
  <div id="comment_warning"></div>
<% end %>
<br />
<p><%= link_to "Report problem with quiz", new_report_path(:id => @quiz.id) %></p> </div>
<%= render :partial=>"common/quiz_info", :locals => { :quiz => @quiz } %>
