<% title "Results for #{@quiz.title}" %>
<h3>Results for quiz: <%= @quiz.title %></h3><br />
<% @questions.each do |question| %>
  <b><%= question.text %></b><br />
  <% question.answers.each do |answer| %>
    <%= "X " if @answers.include?(answer) %>
    <%= "C " if question.right_ans == answer %>
    <%= answer.text %><br />
  <% end %>
  <br />
<% end %>
You scored: <%= @right_answers.length %> / <%= @questions.length %><br />
Percentile: <%= @quiz_entry.percentile %><br /><br />

Likes: <%= @quiz.likes.length %> <%= button_to "Like", {:controller => "likes", :action => "create", :id => @quiz.id} %>
Comments: <br />
<% if @quiz.comments.empty? %>
  Be the first to comment!
<% else %>
  <%= render :partial => "common/comment", :collection => @quiz.comments %>
<% end %>
<% form_for :comment, :url => {:controller => "comments", :action=>:create} do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :comment, :quiz_id, :value => @quiz.id %>
  <%= f.text_area :text %><br />
  <%= f.submit "Add comment" %><br />
<% end %>
<br />
