<% title "#{@quiz.title}" %>

<div class="right">
<h3><%= @quiz.title %></h3><p>
<% @quiz.questions.each do |question| %>
  <b><%= question.text %></b><br />
  <% question.answers.each do |answer| %>
    <% if @quiz_entry.answers.include?(answer) %>
      <%=  image_tag("tick.png", :class => "quiz_entry") %>
    <% elsif question.right_ans == answer %>
      <%= image_tag("cross.png", :class => "quiz_entry") %>
    <% end %>
    <%= answer.text %><br />
  <% end %>
<% end %>
You scored: <%= @quiz_entry.correct %> / <%= @quiz_entry.possible %><br />
Percentile: <%= @quiz_entry.percentile %><br /><br />
</p>
<h4>Likes: <%= @quiz.like_count %>
<% form_tag like_path(:id => @quiz.id), :class => "like_form" do %>
  <%= button_to "Like", {:controller => "likes", :action => "create", :id => @quiz.id}, :class => "like_button" %>
<% end %></h4>
<h4>Comments:</h4>
<% if @quiz.comments.empty? %>
  Be the first to comment!
<% else %>
  <div class="comments" id="bottom_comments"><ul>
    <%= render :partial => "common/comment", :collection => @quiz.comments %>
    </ul></div>
<% end %>
<% form_for :comment, :url => {:controller => "comments", :action=>:create} do |f| %>
  <%= f.error_messages %>
  <%= hidden_field :comment, :quiz_id, :value => @quiz.id %>
  <%= f.text_area :text, :size => "50x4" %><br />
  <%= f.submit "Add comment" %><br />
<% end %>
<br /></div>
<%= render :partial=>"common/quiz_info", :locals => { :quiz => @quiz } %>
