<div id="footer-outer" class="clear"><div id="footer-wrap">
  <div class="col-a">

    <h3>Updates</h3>

      <ul class="subscribe-stuff">
      	<li><%= link_to image_tag("social_facebook.png", :title=>"Facebook", :alt => "Facebook"), "http://www.facebook.com/quizir" %></li>
        <li><%= link_to image_tag("social_twitter.png", :title=>"Twitter", :alt=>"Twitter"), "http://www.twitter.com/quizir" %></li>
        <li><%= link_to image_tag("social_email.png", :title=>"EMail", :alt=>"EMail"), "mailto:admin@quizir.com" %></li>
      </ul>
<br /><br/>
      <p>Connect with RoR quiz via
         <a href="http://www.facebook.com/quizir">Facebook</a>,
         <a href="http://www.twitter.com/quizir">Twitter</a> or <a href="mailto:admin@quizir.com">Email</a>
      </p> 
    </div>

    <div class="col-a">
     <h3></h3>
      <div class="footer-list">
        <ul>
          <li><%= link_to "Home", root_url%></li>
          <li><a href="index.html">FAQ</a></li>
          <li><a href="index.html">Usage Policy</a></li>
        </ul>
      </div>
   </div>

   <div class="col-a">
     <h3></h3>
     <div class="footer-list">
       <ul>
	 <li><a href="#">Support</a></li>
         <li><a href="#">Feedback</a></li>
       </ul>
     </div>
   </div>
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

  <p class="bottom-left">
    &copy; 2010 <strong>RoR Quiz</strong>&nbsp; &nbsp; &nbsp;
    <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
  </p>

  <p class="bottom-right">
    <%= link_to "Home", root_url%> |
    <a href="index.html">Sitemap</a> |
    <strong><a href="#top">Back to Top</a></strong>
  </p>

<!-- /footer-bottom-->
</div>
