<h1>Rails Quiz</h1>
<nav>
  <%= link_to "Home", root_url %> |
  <%= link_to "Sign Up", sign_up_path %> |
  <%= link_to "Sign In", sign_in_path %> |
  <%= link_to "Sign Out", sign_out_path %> |
  <%= link_to "Make a quiz", :controller => "quizzes", :action => "new" %> |
  <%= link_to "Make a group", :controller => "groups", :action => "new" %>
</nav>
</ul>
