<div class="left">
  <div class="post-meta">
    <h4>quiz info</h4>
  
    <ul>
      <li class="user"><%= link_to quiz.creator, quiz.creator %></li>
      <li class="time">Created <%= time_ago quiz.created_at %></li>
      <li class="comment"><a href="#"><%= quiz.comments.count %> comments</a></li>
      <li>Taken <%= quiz.times_taken %> times.</li>
      <li>Avg score: <%= "%2.1f" % quiz.avg_score %></li>
    </ul>
  </div>

  <div class="post-meta">
    <h4>tags</h4>
    <ul class="tags">		         
      <%= render :partial => "common/tag_list", :collection => quiz.tags %>
    </ul>
  </div>
</div>
