<html>
<head>
  <title>RoR Quiz | <%= yield :title %></title>
  <%= stylesheet_link_tag "screen"  %>
  <%= javascript_include_tag :defaults %>
</head>

  
<body>
  <%= render :partial => "common/header" %>

  <div id="content-wrap" class="clear" >
    <div id="content">
      <% unless flash.empty? %>
      <div id="flash">
      
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>"><%=h value %></div>
        <% end -%>
      </div>
    <% end %>
      

    <div id="main">
      <%= yield %>
    </div>
           
    <%= render :partial => "common/sidebar" %>
  </div>
</div>
<%= render :partial => "common/footer" %>
</body>
</html>
