<html>
  <head>
    <title>RoR Quiz | <%= yield :title %></title>
  </head>
  <%= stylesheet_link_tag "screen"  %>
  
<body>
  <%= render :partial => "common/header" %>

  <div id="content-wrap" class="clear" >
<div id="content">
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end -%>
  </div>
	   <div id="main">
  <div class="post">
  <%= yield %>
  </div>
           </div>
           
  <%= render :partial => "common/sidebar" %>
</div>
</div>
  
  <%= render :partial => "common/footer" %>
</body>
</html>
